{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- if predictive_search.performed -%}
  <div id="predictive-search-results" role="listbox">
    {%- if predictive_search.resources.products.size > 0 -%}
      <div
        id="predictive-search-results-groups-wrapper"
        class="predictive-search__results-groups-wrapper"
      >
        <div class="predictive-search__result-group">
          <div>
            <h2
              id="predictive-search-products"
              class="predictive-search__heading text-body caption-with-letter-spacing"
            >
              {{- 'templates.search.products' | t -}}
            </h2>
            <ul
              id="predictive-search-results-products-list"
              class="predictive-search__results-list list-unstyled"
              role="group"
              aria-labelledby="predictive-search-products"
            >
              {%- for product in predictive_search.resources.products -%}
                <li
                  id="predictive-search-option-product-{{ forloop.index }}"
                  class="predictive-search__list-item"
                  role="option"
                  aria-selected="false"
                >
                  <a
                    href="{{ product.url }}"
                    class="predictive-search__item predictive-search__item--link-with-thumbnail link link--text"
                    tabindex="-1"
                  >
                    {%- if product.featured_media != blank -%}
                      <img
                        class="predictive-search__image"
                        src="{{ product.featured_media | image_url: width: 150 }}"
                        alt="{{ product.featured_media.alt | escape }}"
                        width="50"
                        height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
                      >
                    {%- endif -%}
                    <div class="predictive-search__item-content">
                      <p class="predictive-search__item-heading h5">{{ product.title | escape }}</p>
                      {%- if settings.predictive_search_show_price -%}
                        {% render 'price', product: product, use_variant: true, show_badges: false %}
                      {%- endif -%}
                    </div>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
            <div class="predictive-search__loading-state" aria-hidden="true">
              {%- render 'loading-spinner' -%}
            </div>
          </div>
        </div>
      </div>
      <span class="hidden" data-predictive-search-live-region-count-value>
        {%- if predictive_search.resources.products.size == 0 -%}
          {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
        {%- else -%}
          {{
            'templates.search.results_with_count'
            | t: terms: predictive_search.terms, count: predictive_search.resources.products.size
          }}
        {%- endif -%}
      </span>
    {%- else -%}
      <div class="predictive-search__loading-state">
        <p class="predictive-search__heading h5">
          {{ 'templates.search.no_results' | t: terms: predictive_search.terms }}
        </p>
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
{% comment %}theme-check-enable ImgLazyLoading{% endcomment %}